.container{
    width: 1130px;
    height: 421px;
    position: absolute;
    left: 50%;
    margin-left: -565px;
    top: 50%;
    margin-top: -255px;
    /*overflow: hidden;*/
}
.text-container {

}

.second-container{
    height: 480px;
    position: absolute;
    width: 100%;
}

.base{
    background: url("../images/base.png");
    width: 362px;
    height: 44px;
    position: absolute;
    left: 50%;
    margin-left: -181px;
}

.action-result{
    background: url("../images/action-result.png");
    width: 295px;
    height: 81px;
    position: absolute;
    left: 50%;
    margin-left: -148px;
    bottom: 0;
}

.buttons{
    position: absolute;
    width: 100%;
    text-align: center;
    height: 43px;
    bottom: 170px;
}

.who-is{
    background: url("../images/who-is.png");
    width: 567px;
    height: 38px;
    position: absolute;
    bottom: 80px;
    left: 50%;
    margin-left: -259px;
    display: block;
}

.conditions,
.order,
.guarantee{
    display: inline-block;
    margin: 0 25px;
}

.conditions{
    background: url("../images/conditions.png");
    width: 311px;
    height: 43px;
}

.order{
    background: url("../images/order.png");
    width: 311px;
    height: 43px;
}

.guarantee{
    background: url("../images/guarantee.png");
    width: 312px;
    height: 43px;
}



.hidden {
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

.first {
    background: url("../images/first.png");
    width: 235px;
    height: 70px;
    position: absolute;
    top: 50%;
    margin-top: -35px;
}

.second {
    /*background: url("../images/second.png");*/
    width: 410px;
    height: 421px;
    position: absolute;
    left: 50%;
    margin-left: -205px;
}


.motivation,
.writing,
.success,
.competitions,
.facts,
.literature{
    margin: 41px auto 0;
}

.communication{
    background: url("../images/communication.png");
    width: 173px;
    height: 28px;
    margin: 0 auto;
}

.motivation{
    background: url("../images/motivation.png");
    width: 219px;
    height: 28px;
}
.writing{
    background: url("../images/writing.png");
    width: 373px;
    height: 23px;
}

.success{
    background: url("../images/success.png");
    width: 308px;
    height: 23px;
}

.competitions{
    background: url("../images/competitions.png");
    width: 347px;
    height: 24px;
}

.facts{
    background: url("../images/facts.png");
    width: 353px;
    height: 23px;
}

.literature{
    background: url("../images/literature.png");
    width: 410px;
    height: 23px;
}




.messageBox{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    margin-top: -100px;
    display: none;
    font-size: 50px;
}



.third {
    background: url("../images/third.png");
    width: 288px;
    height: 155px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -77px;
}